/* Tolti margini dalla pagina web */
body{
    margin: 0px;
}

.top-bar{
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    background-size: 30%;
}

#logo{
    width: 150px;
    height: 40px;
    padding-top: 2%;
    margin-left: 1%;
}

h1{
    margin-left: 1%;
    margin-bottom: 0px;
}

#author{
    color: #838383;
    margin-left: 1%;
}

.link{
    color: #4ea0ff;
    text-decoration: none;
}

.date{
    font-size: small;
}