/* Tolti margini dalla pagina web */
body{
    margin: 0px;
}

/* Gestione dei margini pagina web */
main{
    margin-left: 1%;
}

footer{
    margin-left: 1%;
}
/* Gestione dei margini pagina web */

/* Gestione della barra che fa da sfondo al logo */
.top-bar{
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    background-size: 30%;
}

/* Gestione del logo */
#logo{
    width: 150px;
    height: 40px;
    padding-top: 2%;
    margin-left: 1%;
}

/* Gestione del titolo */
h1{
    margin-left: 1%;
    margin-bottom: 0px;
}

/* Gestione del sotto-titolo autore */
#author{
    color: #838383;
    margin-left: 1%;
}

.link{
    color: #4ea0ff;
    text-decoration: none;
}

.date{
    font-size: small;
}
/* /Gestione del sotto-titolo autore */

/* Gestione delle foto */
.photo{
    margin-top: 1%;
    margin-left: 1%;
}

.ph_description{
    font-size: x-small;
}

/* Gestione della lista non ordinata */
.u-list{
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
}

/* Gestione dello stile della tabella */
table{
    width: 99%;
    border-collapse: collapse;
}

thead{
    background-color: #20a9e5;
    color: white;
    text-align: left;
}

#col1{
    width: 25%;
}
#col2{
    width: 25%;
}
#col3{
    width: 50%;
}

.signed{
    background-color: #b1e5f2;
}
/* /Gestione dello stile della tabella */

/* Gestione del titolo footer */
h3{
    color: #848484;
    font-size: medium;
    padding-top: 1%;
}

/* Gestione immagini delle pagine correlate */
.container1{
    width: 258px;
    height: 200px;
    background-image: url("../img/monitor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container2{
    width: 258px;
    height: 200px;
    background-image: url("../img/graph.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.correlati{
    text-decoration: none;
    color: white;
    font-size: 22px;
    padding-left: 5%;
    
}
/* /Gestione immagini delle pagine correlate */

