/* Tolti margini dalla pagina web */
body{
    margin: 0px;
}

.top-bar{
    background-color:#5babe9;
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    background-size: 28%;
}

#logo{
    width: 150px;
    height: 40px;
    padding-top: 2%;
    margin-left: 1%;
}

h1{
    margin-left: 1%;
}
