/* Tolti margini dalla pagina web */
body{
    margin: 0px;
}

main{
    margin-left: 1%;
}
/* Gestione della barra che fa da sfondo al logo */
.top-bar{
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    background-size: 30%;
}
/* Gestione del logo */
#logo{
    width: 150px;
    height: 40px;
    padding-top: 2%;
    margin-left: 1%;
}

h1{
    margin-left: 1%;
    margin-bottom: 0px;
}

#author{
    color: #838383;
    margin-left: 1%;
}

.link{
    color: #4ea0ff;
    text-decoration: none;
}

.date{
    font-size: small;
}

.photo{
    margin-top: 1%;
    margin-left: 1%;
}

.ph_description{
    font-size: x-small;
}

.u-list{
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
}

table{
    width: 99%;
    border-collapse: collapse;
    margin-right: 3%;
}

thead{
    background-color: #20a9e5;
    color: white;
    text-align: left;
}

#col1{
    width: 25%;
}
#col2{
    width: 25%;
}
#col3{
    width: 50%;
}

.signed{
    background-color: #b1e5f2;
}

